.DS_Store

/frontend/node_modules
/frontend/dist
/frontend/src/images/collections/cover
/frontend/src/images/collections/logo
/frontend/src/images/nfts/file
/frontend/src/images/nfts/metadata

/backend/node_modules

./hardhat.config.js

/node_modules
/cache
/artifacts

# local env files
.env.local
.env.*.local

# Log files
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.zip
